.App {
  text-align: center;
  background-color: #282c34;
  font-size: calc(10px + 2vmin);
  color: white;   
  min-height: 100vh;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 20vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.button-submit {
  display:inline-block;
  padding:0.5em 3em;
  border:0.16em solid #FFFFFF;
  margin:0 0.3em 0.3em 0;
  box-sizing: border-box;
  text-decoration:none;
  text-transform:uppercase;
  font-family:'Roboto',sans-serif;
  font-weight:400;
  color:rgb(46, 36, 36);
  text-align:center;
  transition: all 0.15s;
  }
  .button-submit:hover{
    color:#110d0d;
    border-color:#c2c1c1;
  } 
  .button-submit:active{
    color:#c2c1c1;
    border-color:#c2c1c1;
    }

.footer{
  text-align: center;
  background-color: #282c34;
  font-size: calc(10px + 2vmin);
  color: white; 
  min-height: 20vh;
}